@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(2117716-3840x2160-desktop-4k-dark-wallpaper-photo.jpg);
    background-size: cover;
    background-position: center, no-repeat;
}

h1 {
    text-align: center;
    color: #fff;
    margin-top: 250px;
    font-size: 75px;
    opacity: 0;
    animation: slideRight .9s ease forwards;
}

.button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center vertically, if needed */
    gap: 10px; /* Space between buttons */
    margin-top: 40px; /* Optional */
}

.btn {
    display: inline-block; /* Ensure they behave like block elements */
    padding: 12px 28px;
    background: black;
    border-radius: 40px;
    box-shadow: 0 0 10px #333;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background: #fff;
    color: black;
    box-shadow: 0 0 20px #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #2600ff;
}















/* keyframes */

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
  }

  100%{
    transform: translateX(0);
    opacity: 1;
 } 
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
  }

  100%{
    transform: translateX(0);
    opacity: 1;
 } 
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
 } 
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
 } 
}

@keyframes zoomIn {
    0%{
        transform: scale(0);
        opacity: 0;
  }

  100%{
    transform: scale(1);
    opacity: 1;
 } 
}